In [2]:
print('Jayson pogi')

Jayson pogi

In [ ]:
import pandas as pd

In [4]:
df = pd.read_csv('real_estate_price_size.csv')

In [5]:
df.describe()

               price         size
count     100.000000   100.000000
mean   292289.470160   853.024200
std     77051.727525   297.941951
min    154282.128000   479.750000
25%    234280.148000   643.330000
50%    280590.716000   696.405000
75%    335723.696000  1029.322500
max    500681.128000  1842.510000

In [7]:
df.head(10)

        price     size
0  234314.144   643.09
1  228581.528   656.22
2  281626.336   487.29
3  401255.608  1504.75
4  458674.256  1275.46
5  245050.280   575.19
6  265129.064   570.89
7  175716.480   620.82
8  331101.344   682.26
9  218630.608   694.52

In [8]:
df.columns

Index(['price', 'size'], dtype='object')

In [9]:
print(df)

         price     size
0   234314.144   643.09
1   228581.528   656.22
2   281626.336   487.29
3   401255.608  1504.75
4   458674.256  1275.46
..         ...      ...
95  252460.400   549.80
96  310522.592  1037.44
97  383635.568  1504.75
98  225145.248   648.29
99  274922.856   705.29

[100 rows x 2 columns]